* {
  box-sizing: border-box;
}

.stack {
  list-style: none;
  background: linear-gradient(160deg, rgb(0, 0, 255),rgb(252, 13, 45) );
  width: 340px;
  height: 340px;
  border-radius: 20px;
  margin: 0 auto;
  padding: 5px;
  box-shadow: 10px 10px 20px 0px black;
}

.piece {
  width: 100px;
  height: 100px;
  background-color: rgba(12, 58, 182, 0.521);
  margin: 5px;
  text-align: center;
  font-size: 2em;
  float: left;
  border-radius: 10px;
  cursor: pointer;
  padding-top: 1em;
  }

.mark {
  cursor: default;
  font-size: 2em;
   }

  .win {
   background-color: rgb(106, 255, 47);
  }

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?hta9a2');
  src:  url('fonts/icomoon.eot?hta9a2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hta9a2') format('truetype'),
    url('fonts/icomoon.woff?hta9a2') format('woff'),
    url('fonts/icomoon.svg?hta9a2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
  content: "\ea0f";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
